* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div#flex-grid {
  background-color: rgb(240, 240, 240);
  margin: auto;
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
}

div.tile {
  background-color: whitesmoke;
}

.painted-black {
  background-color: black;
}